#btnLogin {
  background-color: #fff !important;
  border-radius: 5px !important;
  color: #1d2327;
  font-weight: 600;
  margin-left: 5px;
}

#btnLogin:hover {
  color: #28a745 !important;
  border: 1px solid #28a745 !important;
}

#btnRegister {
  background-color: #f48120 !important;
  border-radius: 5px !important;
  font-weight: 600;
}

#btnRegister:hover {
  background-color: #fff !important;
  border: 1px solid #f48120 !important;
  color: #f48120 !important;
}
/*# sourceMappingURL=buttons.css.map */