<template>
  <div id="mainContent"> 
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <router-link to="/app/info" custom v-slot="{ navigate }">
          <a id="logo" @click="navigate" class="navbar-item">
            <img src="../assets/img/logo.png" width="142" height="38">
          </a>
        </router-link>
        <a @click="showMenuMobile" role="button" id="iconBurguerMobile" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarLinks">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarLinks" class="navbar-menu">
        <div class="navbar-start">
          <router-link to="/app/live" custom v-slot="{ navigate }">
            <a @click="navigate" class="navbar-item">
              Ao vivo
            </a>
          </router-link>
          <router-link to="/app/wiki" custom v-slot="{ navigate }">
            <a @click="navigate" class="navbar-item">
              Wiki
            </a>
          </router-link>
          <router-link to="/app/users" custom v-slot="{ navigate }">
            <a @click="navigate" class="navbar-item">
              Usuários
            </a>
          </router-link>
          <router-link to="/app/reports" custom v-slot="{ navigate }">
            <a @click="navigate" class="navbar-item">
              Relatórios
            </a>
          </router-link>
          <router-link to="/app/configs" custom v-slot="{ navigate }">
            <a @click="navigate" class="navbar-item">
              Configs
            </a>
          </router-link>
        </div>
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Configurações
            </a>
            <div class="navbar-dropdown is-right">
              <router-link to="/app/profile" custom v-slot="{ navigate }">
                <a @click="navigate" class="navbar-item">
                  Perfil
                </a>
              </router-link>
              <hr class="navbar-divider">
              <a @click="exitApp" class="navbar-item">
                Sair
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <router-view/>
  </div>
</template>

<script>
import firebase from "firebase/app";
import "firebase/database";
import "firebase/app-check";
import axios from "axios";
setInterval(function(){ document.location.reload(); }, 28800000);
export default {
  data(){
    return {
      supportReport: '',
    }
  },
  created(){

    async function getKey(){
      const data = JSON.stringify({ref: 'configs', sref: 'rtdb'});
      const config = {
        method: 'post',
        url: `${process.env.VUE_APP_HOSTSERVICE}/api/config`,
        headers: {
          'Content-Type': 'application/json', 
        },
        data,
      }
      const dataKey = await axios(config);
      return dataKey.data.data.value;
    }

    const self = this;
    async function getDataKey(){
      const configs = await getKey();
      const firebaseConfig = JSON.parse(JSON.parse(configs));
      firebase.initializeApp(firebaseConfig);
      const appCheck = firebase.appCheck();
      appCheck.activate('6LfYXMocAAAAAN9mLpUg1K7ChYWfCwJh9ZwAFmjj', true);
      const dataRef = firebase.database().ref('matches');
      dataRef.on('value', (snapshot) => {
        const data = snapshot.val();
        let matchesNew = JSON.parse(data.stats);
        const matchesCurrent = Object.values(self.$store.state.matches);
        if(!self.$store.state.matches){
          self.$store.commit('setMatches', matchesNew);
        } else {
          let diffMatchesNewOld = matchesCurrent.filter(match => matchesNew.every(matchDataJson => matchDataJson !== null && !matchDataJson.bet365_id.includes(match.bet365_id)));
          if(diffMatchesNewOld.length > 0){
            diffMatchesNewOld.map(element => {
              const indexElementMatchesCurrent = matchesCurrent.indexOf(element);
              matchesCurrent.splice(indexElementMatchesCurrent, 1);
              if(self.$store.state.favoriteMatches.length > 0 ) {
                self.$store.commit('removeFavoriteMatch', element.bet365_id);
              }
            });
            const mergeMatchesCurrentNew = Object.assign({}, [...matchesCurrent], [...matchesNew]);
            const mergeConvertedToJson = Object.keys(mergeMatchesCurrentNew).map(el => mergeMatchesCurrentNew[el]);
            if(self.$store.state.favoriteMatches.length === 0){
              self.$store.commit('setMatches', mergeConvertedToJson);
            } else {
              self.$store.state.favoriteMatches.map(el => {
                const element = mergeConvertedToJson.find(e => e.bet365_id === el);
                const indexOfElement = mergeConvertedToJson.indexOf(element);
                mergeConvertedToJson[indexOfElement].isFavorite = true;
              });
              self.$store.commit('setMatches', mergeConvertedToJson);
            }
          } else {
            const mergeMatchesCurrentNew = Object.assign({}, [...matchesCurrent], [...matchesNew]);
            const mergeConvertedToJson = Object.keys(mergeMatchesCurrentNew).map(el => mergeMatchesCurrentNew[el]);
            if(self.$store.state.favoriteMatches.length === 0){
              self.$store.commit('setMatches', mergeConvertedToJson);
            } else {
              self.$store.state.favoriteMatches.map(el => {
                const element = mergeConvertedToJson.find(e => e.bet365_id === el);
                const indexOfElement = mergeConvertedToJson.indexOf(element);
                mergeConvertedToJson[indexOfElement].isFavorite = true;
              });
              self.$store.commit('setMatches', mergeConvertedToJson);
            }
          }
        }
      });

      const userStatusDatabaseRef = firebase.database().ref('/usersOnline/' + self.$store.state.pId);
      const isOfflineForDatabase = {
          email: self.$store.state.email,
          state: 'offline',
          last_changed: firebase.database.ServerValue.TIMESTAMP,
      };
      const isOnlineForDatabase = {
          email: self.$store.state.email,
          state: 'online',
          last_changed: firebase.database.ServerValue.TIMESTAMP,
      };
      firebase.database().ref('.info/connected').on('value', function(snapshot) {
          if (snapshot.val() == false) {
              return;
          };
          userStatusDatabaseRef.onDisconnect().set(isOfflineForDatabase).then(function() {
            userStatusDatabaseRef.set(isOnlineForDatabase);
          });
      });
    }
    getDataKey();
  },
  mounted(){
    const data = JSON.stringify({ref: 'configs', sref: 'reportLinkContact'});
    this.$store.dispatch('getConfig', data).then( (res) => {
      this.supportReport = res.data.value;
    });
  },
  methods: {
    showMenuMobile(){
      const menuLinksMobile = document.getElementById('navbarLinks');
      const iconBurguer = document.getElementById('iconBurguerMobile');
      menuLinksMobile.classList.toggle('is-active');
      iconBurguer.classList.toggle('is-active');
    },
    exitApp(){
      this.$store.dispatch('disconnect');
      this.$router.go();
    }
  },
};
</script>

<style lang="scss" scoped>
  #mainContent {
    background-color: #121212;
    width: 100%;
    height: 100%;
  }
  .navbar-menu {
    background-color: #1f1f1f;
  }
  #logo {
    background-color: #fff;
  }
  .navbar {
    margin-bottom: 20px;
    color: #E1E1E1
  }
  .navbar-dropdown {
    background-color: #1f1f1f;
    border: none;
  }
  .navbar-divider {
    background-color: #121212;
  }
  .navbar-item {
    color: #E1E1E1!important
  }
  .navbar-item:hover {
    color: #fff!important;
    font-weight: 600;
    background-color: #218838!important;
  }
  .navbar-item:active {
    color: #218838;
    background-color: #fff;
  }
</style>

  #mainContent {
    background-color: #121212;
    width: 100%;
    height: 100%;
  }
  .navbar-menu {
    background-color: #1f1f1f;
  }
  #logo {
    background-color: #fff;
  }
  .navbar {
    margin-bottom: 20px;
    color: #E1E1E1
  }
  .navbar-dropdown {
    background-color: #1f1f1f;
    border: none;
  }
  .navbar-divider {
    background-color: #121212;
  }
  .navbar-item {
    color: #E1E1E1!important
  }
  .navbar-item:hover {
    color: #fff!important;
    font-weight: 600;
    background-color: #218838!important;
  }
  .navbar-item:active {
    color: #218838;
    background-color: #fff;
  }
</style>
