<template>
  <div id="mainContent" class="container">
    <configSet/>
    <h3 class="is-size-3 mb-2">Update config</h3>
    <configItem 
      v-for="(config, index) in configs"
      :key="index"
      :data="config"
    />
  </div>
</template>

<script>
import configItem from '../components/Configitem__configs';
import configSet from '../components/Configset__configs';
export default {
  components: {
    configItem,
    configSet
  },
  data(){
    return {
      configs: '',
    }
  },
  created(){
    const data = JSON.stringify({collection: 'configs'})
    this.$store.dispatch('getConfig', data).then((res) => {
      this.configs = res;
    });
  }
}
</script>

<style lang="scss" scoped>
  #mainContent {
    color: #ffffff;
    background-color: #121212;
    width: 100%;
    height: 100vh;
    padding: 5px;
  }
</style>