<template>
  <div id="mainContent" class="container is-fluid is-flex is-flex-direction-column">
    <ul id="matchesList" class="is-flex is-flex-direction-column is-align-items-start">
      <li id="firstListItem">
        <div id="info" class="is-flex is-flex-direction-column is-justify-content-start mb-3"> 
          <div class="is-flex is-justify-content-space-between mb-2">
            <div class="is-flex">
              <CounterMatches />
              <CounterLastUpdate />
            </div>
            <div>
              <a @click="showSearchDivision" class="tag is-dark is-medium">
                <img src="../assets/img/search.svg" width="20" height="20">
              </a>
            </div>
          </div>
          <div id="searchDivision" class="aa">
            <div class="is-flex">
              <input id="inputSearch" class="input" type="text" placeholder="Digite o NOME DO TIME ou o ID da partida.">
              <button @click="searchInList" class="button is-dark"> Pesquisar </button>
            </div>
          </div>
        </div>
      </li>
      <slot name="favorites"></slot>
      <slot name="default" />
    </ul>
  </div>
</template>

<script>
import CounterMatches from '../components/CounterMatches__live';
import CounterLastUpdate from '../components/CounterLastUpdate__live';
import xss from 'xss';
export default {
  components: {
    CounterMatches,
    CounterLastUpdate
  },
  methods: {
    showSearchDivision(){
      const searchDivision = document.getElementById("searchDivision");
      if(searchDivision.style.display === "none"){
        searchDivision.style.display = "block";
      } else {
        searchDivision.style.display = "none";
        document.getElementById('inputSearch').value = '';
        inputSearch.classList.remove('is-success');
      }
    },
    searchInList(){
      const valueInput = xss(String(document.getElementById('inputSearch').value));
      const list = this.$store.state.matches;
      const listFiltered = list.filter((el) => el.home.toLowerCase().includes(valueInput.toLowerCase()) || el.away.toLowerCase().includes(valueInput.toLowerCase()) || el.bet365_id.toLowerCase().includes(valueInput.toLowerCase())) ;
      if(listFiltered.length == 0){
        const inputSearch = document.getElementById('inputSearch');
        inputSearch.classList.add('is-danger');
      } else {
        document.getElementById(listFiltered[0].bet365_id).scrollIntoView({ behavior: 'smooth', block: 'start' });
        const el = document.getElementById(`${listFiltered[0].bet365_id}high`);
        el.style.backgroundColor='#fcd116';
        setTimeout(() => {
          el.style.backgroundColor='';
        }, 5000);
        inputSearch.classList.remove('is-danger');
        inputSearch.classList.add('is-success');
      }
    },
  },
}  
</script>

<style lang="scss" scoped>
  #mainContent {
    width: 100%;
    min-height: 100vh;
  }
  .container {
    padding: 0px 10px;

    #searchDivision {
      display: none;
    }
    #tagInfo {
      margin: 0px 5px 0px 0px!important;
    }
    #searchButton {
      margin-right: 5px;
    }
    #firstListItem {
      width: 100%;
      height: 100%;
      margin: 0px 0px 8px 0px;
      border-radius: 10px;
      list-style: none;
    }
  }
  .searchHigh {
    background-color: yellow;
  }
  @media (min-width: 769px) {
    #matchesList {
      display: flex;
      flex-direction: row!important;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 1024px) {
    #matchesList {
      display: flex;
      flex-direction: row!important;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
</style>