<template>
  <div id="divBack">
    <div id="mainDiv" class="is-flex is-flex-direction-column is-justify-content-space-around">
      <section id="sectionLogin" class="is-flex is-justify-content-center">
        <div id="cardFunctions" class="card is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
          <img class="logo" rel="preload" src="../assets/img/logo.png" width="142" height="38">
          <div class="card-content">
            <div class="content has-text-centered">
              <div class="notification is-success is-flex is-justify-content-center"  v-if="resetMessageHandler == true"> {{ resetMessage }}</div>
              <div class="notification is-success is-flex is-justify-content-center"  v-if="resetMessageHandler == false"> {{ resetMessage }}</div>
              <p class="is-size-4">Fazer login</p>
              <form @submit.prevent="login">
                <input v-model="$v.emailLogin.$model" :formatter="formatterToLowerCase" class="input mb-3" type="text" placeholder="Email">
                <div class="has-text-danger is-flex is-justify-content-center" v-if="(!$v.emailLogin.required || !$v.emailLogin.email) && $v.emailLogin.$dirty">Digite seu email</div>
                <div class="has-text-danger is-flex is-justify-content-center" v-if="resetEmailFieldMessageHandler">Digite seu email para resetar sua senha!</div>
                <input v-model="$v.passwordLogin.$model" class="input mb-3" type="password" placeholder="Senha">
                <input v-model="$v.passwordMLogin.$model" class="input mb-3" type="password" placeholder="Senha">
                <div class="has-text-danger is-flex is-justify-content-center" v-if="!$v.passwordLogin.required && $v.passwordLogin.$dirty">Digite sua senha</div>
                <div class="has-text-danger is-flex is-justify-content-center" v-if="(!$v.passwordLogin.minLength || !$v.passwordLogin.maxLength) && $v.passwordLogin.$dirty">Sua senha deve conter <br> entre 8 e 20 caracteres</div>
                <div class="has-text-danger is-flex is-justify-content-center"  v-if="loginMessageHandler">{{loginMessage}}</div>
                <button type="submit" class="button is-success mt-3">Entrar</button>
              </form>
              <button @click="resetPassword" class="button is-warning mt-3">Esqueci minha senha</button>
            </div>
          </div>
        </div>
      </section>
    </div> 
  </div>
</template>

<script>
import {
  required, email, minLength, maxLength,
} from '../../node_modules/vuelidate/lib/validators';
import xss from 'xss';
export default {
  data() {
    return {
      emailLogin: '',
      passwordLogin: '',
      passwordMLogin: '',
      loginMessageHandler: false,
      loginMessage: '',
      resetEmailFieldMessageHandler: null,
      resetMessageHandler: null,
      resetMessage: '',
    };
  },
  validations: {
    emailLogin: {
      required,
      maxLength: maxLength(41),
      email,
    },
    passwordLogin: {
      required,
      minLength: minLength(8),
      maxLength: maxLength(64),
    },
    passwordMLogin: {
      required,
      minLength: minLength(8),
      maxLength: maxLength(64),
    },
  },
  methods: {
    showMenuMobile(){
      const menuLinksMobile = document.getElementById('navbarLinks');
      const iconBurguer = document.getElementById('iconBurguerMobile');
      menuLinksMobile.classList.toggle('is-active');
      iconBurguer.classList.toggle('is-active');
    },
    formatterToLowerCase(value) {
      return value.toLowerCase();
    },
    login(){
      this.$v.emailLogin.$touch();
      this.$v.passwordLogin.$touch();
      this.$v.passwordMLogin.$touch();
      if (this.$v.emailLogin.$invalid || this.$v.passwordLogin.$invalid || this.$v.passwordMLogin.$invalid) {
        this.submitStatusLogin = 'ERROR';
      } else {
        const data = JSON.stringify({ email: xss(this.$v.emailLogin.$model.toLowerCase()), password: xss(this.$v.passwordLogin.$model), mPassword: xss(this.$v.passwordMLogin.$model)});
        this.$store.dispatch('login', data).then((res) => {
          if (res.isAuthenticated === false) {
            this.loginMessageHandler = true;
            this.loginMessage = res.message;
          } else {
            sessionStorage.setItem('sess', res.sess);
            this.$router.push({ name: 'App' });
          }
          this.submitStatusLogin = 'PENDING';
          setTimeout(() => {
            this.submitStatusLogin = 'OK';
          }, 500);
        });
      }
    },
    resetPassword(){
      if(this.$v.emailLogin.$model == '') return this.resetEmailFieldMessageHandler = true;
      const data = JSON.stringify({email: xss(this.$v.emailLogin.$model)});
      this.$store.dispatch('resetPasswordLogin', data).then((res) => {
        this.resetEmailFieldMessageHandler = false;
        if(res.status == false){
          this.resetMessageHandler = false;
          this.resetMessage = res.message;
        } else {
          this.resetMessageHandler = true;
          this.resetMessage = res.message;
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
  @import '../assets/css/buttons.scss';
  #mainDiv {
    width: 100%;
    height: 100vh;
  }
  #divBack {
    background-color: #000000;
  }
  #cardFunctions {
    border: 1px solid #a2aaac;
    margin: 20px;
    max-width: 350px!important;
  }
  .logo {
    margin: 20px 0 0 0;
  }
  .card {
    background-color: #19191A;
    border: none!important;
    color: #ffffff;
  }
  .input {
    background-color: #000000;
    color: #ffffff;
    border: none!important;
  }
  .input::placeholder {
    color: #ffffff;
  }
</style>