<template>
  <div id="mainContent">
    <section id="options" class="mb-3">
      <span @click="standart" class="tag is-success">Standart - {{standartCount}}</span>
      <span @click="trial" class="tag is-warning">Trial - {{trialCount}} </span>
      <span @click="not" class="tag is-danger">not - {{notCount}} </span>
    </section>
    <section id="list">
      <ul>
        <ReportItem v-for=" (user) in users"
        :key = "user.id"
        :user = user
        />
      </ul>
    </section>
  </div>
</template>

<script>
import ReportItem from '../components/Reportitem__reports';
export default {
  components: {
    ReportItem
  },
  data(){
    return {
      users: '',
    }
  },
  computed: {
    standartCount(){
      return this.$store.state.usersList.filter((i) => i.isPaid === 'standard').length;
    },
    trialCount(){
      return this.$store.state.usersList.filter((i) => i.isPaid === 'trial').length;
    },
    notCount(){
      return this.$store.state.usersList.filter((i) => i.isPaid === 'not').length;
    },
  },
  methods: {
    standart(){
      const data = this.$store.state.usersList;
      const dataFiltered = data.filter((i) => i.isPaid === 'standard');
      this.users = dataFiltered;
    },
    trial(){
      const data = this.$store.state.usersList;
      const dataFiltered = data.filter((i) => i.isPaid === 'trial');
      this.users = dataFiltered;
    },
    not(){
      const data = this.$store.state.usersList;
      const dataFiltered = data.filter((i) => i.isPaid === 'not');
      this.users = dataFiltered;
    }
  }
}
</script>

<style lang="scss" scoped>
  #mainContent {
    color: #ffffff;
    background-color: #121212;
    width: 100%;
    height: 100vh;
    padding: 5px;
  }
  .tag {
    margin-left: 5px;
  }
  .tag:hover {
    cursor: pointer;
  }
</style>