<template>
  <div>
    <div class="columns">
      <div class="column is-half is-flex is-justify-content-center">
        <div id="mainTable">
          <h4 class="is-size-4">Pagos</h4>
          <table class="table">
            <thead>
              <tr>
                <th>Email</th>
                <th>Ativo</th>
                <th>Pago</th>
                <th>Info</th>
                <th>Atualizar</th>
              </tr>
            </thead>
            <tbody>
              <slot name="paid"></slot>
            </tbody>
          </table>
        </div>
      </div>
      <div class="column is-flex is-justify-content-center">
        <div id="mainTable">
          <h4 class="is-size-4">Não pagos</h4>
          <table class="table">
            <thead>
              <tr>
                <th>Email</th>
                <th>Ativo</th>
                <th>Pago</th>
                <th>Info</th>
                <th>Atualizar</th>
              </tr>
            </thead>
            <tbody>
              <slot name="unpaid"></slot>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .columns {
    padding: 15px;
  }
  #mainTable, .table {
    width: 100%;
  }
  .table {
    background-color: #1F1F1F;
    border-radius: 5px;
  }
  .table thead td, .table thead th {
    color: #ffffff;
  }
</style>