<template>
  <div id="mainContent">
    <Live>
      <CardItem 
        v-for="(match, index) in matches" 
        :key="match.bet365_id" 
        :match="match"
        :index="index"
        :slot="match.isFavorite === true ? 'favorites' : 'default'"
      />
    </Live>
  </div>
</template>

<script>
import Live from '../views/Live';
import CardItem from '../components/CardItem__live';
export default {
  components: {
    Live,
    CardItem
  },
  computed: {
    matches(){
      return this.$store.state.matches;
    }
  }
}
</script>

<style lang="scss" scoped>
  #listItem {
    width: 100%;
    min-height: 140px;
    border: 1px solid #747474;
    padding: 7px;
    margin: 0px 0px 8px 0px;
    border-radius: 10px;
    list-style: none;
  }
  #titleCard {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 328px;
  }
  .tags {
    margin: 8px 0px!important;
    min-height: 56px;
    .tag {
      margin: 2px!important;
    }
  }
  #iconsOptions {
    margin-left: 6px;
  }
  .modal-card {
    height: 90%;
    width: 90%;
    .modal-card-head {
      border: none!important;
    }
    .modal-card-body {
      padding: 7px;
    }
    .column {
      padding: 2px;
    }
  }
  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url('../assets/img/star-outline.svg');
    &:hover {
      background-image: url('../assets/img/star-fill.svg');
    }
    &.icon-star-active {
      background-image: url('../assets/img/star-fill.svg')!important;
    }
  }
  #titleCardStatsItem {
    font-weight: 600;
  }
  #listEventsItem {
    background-color: #f5f5f5;
    padding: 1px;
  }
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 769px) {
    #listItem {
      max-width: 368px;
      margin-right: 5px!important;
    }
    .modal-card {
      width: 70%!important;
    }
  }
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 1024px) {
    #listItem {
      max-width: 368px;
      margin-right: 5px!important;
    }
    .modal-card {
      width: 60%!important;
    }
  }
  /* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1216px) {
    .modal-card {
      width: 50%!important;
    }
  }

  /* XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1408px) {
    .modal-card {
      width: 40%!important;
    }
  }
</style>
