<template>
  <li id="listItem" :favorite="match.isFavorite === true ? 'true' : 'false' ">
    <div :id="match.bet365_id" :index="index"></div>
    <div id="titleCard">
      <p class="is-flex is-align-items-center">{{match.home | truncateStringTitle(match.home)}} - {{match.goals_home}} x {{match.goals_away}} - {{match.away | truncateStringTitle(match.away)}}</p>
    </div>
    <div class="tags is-flex is-justify-content-start">
      <span :class="match.appm_home >= 1 || match.appm_away >= 1 ? 'tag is-success' : 'tag is-ligth'">APPM: {{ match.appm_home }} - {{ match.appm_away }}</span>
      <span :class="cghighlightedHt || cghighlightedFt ? 'tag is-success' : 'tag is-ligth'">CG: {{match.cg_home}} - {{match.cg_away}}</span>
      <span class="tag is-ligth">CA: {{match.home_corners}} - {{match.away_corners}}</span>
      <span class="tag is-ligth">CNS: {{match.cns_home}} - {{match.cns_away}}</span>
      <span class="tag is-ligth">CS: {{cs[0]}} - {{cs[1]}}</span>
      <span class="tag is-ligth">ATP: {{match.home_dangerous_attacks}} - {{match.away_dangerous_attacks}}</span>
      <span :class="match.re_home >= 100 || match.re_away >= 100 ? 'tag is-success' : 'tag is-ligth'">RE: {{match.re_home}} - {{match.re_away}}</span>
    </div>
    <div class="is-flex is-justify-content-space-between is-align-content-center">
      <div :id="match.bet365_id + 'high'">
        <small>
          TE: {{match.timer.tm}}' <sup>{{match.timer.ta}}</sup> |  
          ID: {{match.bet365_id}}
        </small>
      </div>
      <div>
        <Tips
          :matchInfo="match"
        ></Tips>
        <a :href="match.link_bet365" id="iconsOptions" target="_blank"><img src="../assets/img/link-outline.svg" width="20" height="20"></a>
        <a @click="showModalStats(match.bet365_id)" id="iconsOptions">
          <img src="../assets/img/analytics-outline.svg" alt="Estatísticas" srcset="" width="20" height="20">
        </a>
        <div :id="'modal' + match.bet365_id" class="modal">
          <div @click="removeModalStats(match.bet365_id)" class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Estatísticas</p>
              <button @click="removeModalStats(match.bet365_id)" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
              <!-- Team name and league % -->
              <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center mb-6 mt-3">
                <h3 id="titleCardStatsItem" class="is-size-6 is-flex s-justify-content-space-between is-align-items-center mb-3"><img :src = "match.img_home"> &nbsp;   &nbsp; <img :src = "match.img_away"></h3>
                <h3 id="titleCardStatsItem" class="is-size-6">{{match.home | truncateStringTitle(match.home)}} - {{match.goals_home}} x {{match.goals_away}} - {{match.away | truncateStringTitle(match.away)}}</h3>
                <h6>{{match.league}}</h6>
              </div>

              <!-- At's, Atp's, % -->
              <div class="columns is-flex is-justify-content-center mb-5">

                <div class="column is-flex is-flex-direction-column is-align-items-center">
                  <small>AT's</small>
                  <div class="is-flex is-align-items-center">
                    <p>{{match.home_attacks}}</p> 
                    &nbsp; - &nbsp;
                    <p>{{match.away_attacks}}</p>
                  </div>
                </div>

                <div class="column is-flex is-flex-direction-column is-align-items-center">
                  <small>ATP's</small>
                  <div class="is-flex is-align-items-center">
                    <p>{{match.home_dangerous_attacks}}</p>
                    &nbsp; - &nbsp;
                    <p>{{match.away_dangerous_attacks}}</p>
                  </div>
                </div>

                <div class="column is-flex is-flex-direction-column is-align-items-center p-0">
                  <small>%</small>
                  <div class="is-flex is-align-items-center">
                    <p>{{match.home_possession}}</p>
                    &nbsp; - &nbsp;
                    <p>{{match.away_possession}}</p>
                  </div>
                </div>

                <div class="column is-flex is-flex-direction-column is-align-items-center p-0">
                  <small>Po. Camp</small>
                  <div class="is-flex is-align-items-center">
                    <p>{{match.home_position}}</p>
                    &nbsp; - &nbsp;
                    <p>{{match.away_position}}</p>
                  </div>
                </div>

              </div>
              
              <!-- Dados funil -->
              <div id="funilBar" class="columns is-flex is-justify-content-space-between is-align-items-center mb-5">
                <div class="column is-flex is-flex-direction-column is-align-items-center">
                  <small>APPM</small>
                  <div class="is-flex is-align-items-center">
                    <p>{{match.appm_home}}&nbsp;</p> - <p>&nbsp;{{match.appm_away}}</p>
                  </div>
                </div>

                <div class="column is-flex is-flex-direction-column is-align-items-center">
                  <small>CG</small>
                  <div class="is-flex is-align-items-center">
                    <p>{{match.cg_home}}&nbsp;</p> - <p>&nbsp;{{match.cg_away}}</p>
                  </div>
                </div>

                <div class="column is-flex is-flex-direction-column is-align-items-center">
                  <small>CTNS</small>
                  <div class="is-flex is-align-items-center">
                    <p>{{match.ctns_home}}&nbsp;</p> - <p>&nbsp;{{match.ctns_away}}</p>
                  </div>
                </div>

                <div class="column is-flex is-flex-direction-column is-align-items-center">
                  <small>RE</small>
                  <div class="is-flex is-align-items-center">
                    <p>{{match.re_home}}&nbsp;</p> - <p>&nbsp;{{match.re_away}}</p>
                  </div>
                </div>
              </div>

              <!-- NA, AL, Cards -->
              <div class="columns is-flex is-justify-content-center is-align-items-center mb-5">
                <div class="column is-flex is-flex-direction-column is-align-items-center">
                  <small>No Alvo</small>
                  <div class="is-flex is-align-items-center ">
                    <p>{{match.home_on_target}}&nbsp;</p> - <p>&nbsp;{{match.away_on_target}}</p>
                  </div>
                </div>

                <div class="column is-flex is-flex-direction-column is-align-items-center">
                  <small>Ao Lado</small>
                  <div class="is-flex is-align-items-center">
                    <p>{{match.home_off_target}}&nbsp;</p> - <p>&nbsp;{{match.away_off_target}}</p>
                  </div>
                </div>

                <div class="column is-flex is-justify-content-center is-align-items-center">
                    <div class="is-flex is-flex-direction-column is-align-items-center  m-2">
                      <img src="../assets/img/yellow_card.svg" width="15px">
                      <section class="is-flex mt-2">
                        <p>{{match.home_yellowcards}}&nbsp;</p> - <p>&nbsp;{{match.away_yellowcards}}</p>
                      </section>
                    </div>
                    <div class="is-flex is-flex-direction-column is-align-items-center  m-2">
                      <img src="../assets/img/red_card.svg" width="15px">
                      <section class="is-flex mt-2">
                        <p>{{match.home_redcards}}&nbsp;</p> - <p>&nbsp;{{match.away_redcards}}</p>
                      </section>
                    </div>
                    <div class="is-flex is-flex-direction-column is-align-items-center m-2">
                      <img src="../assets/img/corner.svg" width="15px">
                      <section class="is-flex mt-2">
                        <p>{{match.home_corners}}&nbsp;</p> - <p>&nbsp;{{match.away_corners}}</p>
                      </section>
                    </div>
                    <div class="is-flex is-flex-direction-column is-align-items-center m-2">
                      <img src="../assets/img/clock.svg" width="19px">
                      <section class="is-flex mt-2">
                        <p>{{match.timer.tm}}</p>
                      </section>
                    </div>
                </div>
              </div>

              <!-- Events -->
              <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                <h3 id="titleCardStatsItem" class="is-size-6">Resumo</h3>
                <p id="listEventsItem" class="my-1" v-for="(event) in match.events.slice().reverse()" :key="event.id">
                  {{event.text}}
                </p>
              </div>  
            </section>
          </div>
        </div>
        <a @click="favorite($event)" id="iconsOptions" :class="match.isFavorite === true ? 'icon star-filled' : 'icon'"></a>
      </div>
    </div>
  </li>
</template>

<script>
import Tips from '../components/Tips__CardItem.vue'
export default {
  components: {
    Tips,
  },
  props: {
    match: Object,
    index: Number
  },
  filters: {
    truncateString(str){
      if(str === null) return '';
      if(str.length <= 43){
        return str;
      }
      return str.slice(0, 43);
    },
    truncateStringTitle(str){
      if(str === null) return '';
      if(str.length <= 13){
        return str;
      }
      return str.slice(0, 13);
    }
  },
  methods: {
    showModalStats(id){
      const idModal = 'modal' + id;
      const modal = document.getElementById(idModal);
      modal.classList.toggle('is-active');
    },
    removeModalStats(id){
      const idModal = 'modal' + id;
      const modal = document.getElementById(idModal);
      modal.classList.remove('is-active');
    },
    hasFavorited(arg) {
      return this.favoriteMatches.includes(arg)
    },
    favorite(event) {
      const elementId = this.match.bet365_id;
      const element = event.path[3];
      const parentNode = document.getElementById('matchesList');
      const childrenNode = document.getElementById('matchesList').childNodes;
      if(element.getAttribute('favorite') === 'false') {
        this.$store.commit('setFavoriteMatch', elementId);
        element.setAttribute('favorite', 'true');
        parentNode.insertBefore(event.path[3], childrenNode[1]);
        element.childNodes[3].childNodes[1].childNodes[4].classList.add('star-filled');
      } else {
        this.$store.commit('removeFavoriteMatch', elementId);
        element.childNodes[3].childNodes[1].childNodes[4].classList.remove('star-filled');
        element.setAttribute('favorite', 'false');
        const index = Number(element.childNodes[0].attributes[2].nodeValue) + 2;
        parentNode.insertBefore(event.path[3], childrenNode[index]);
      }
    },
  },
  computed: {
    cghighlightedHt(){
      if(
        this.match.timer.tm <= 45 && (this.match.cg_home >= 9  || this.match.cg_away >= 9 )
      ) return true
      return false
    },
    cghighlightedFt(){
      if(
        this.match.timer.tm >= 45 && ((this.match.cg_home >= 15) || (this.match.cg_away >= 15))
      ) return true
      return false
    },
    cs(){
      const homeCs = this.match.home_corners - this.match.cns_home;
      const awayCs = this.match.away_corners - this.match.cns_away;
      const css = [homeCs, awayCs];
      return css
    }
  }
}
</script>

<style lang="scss" scoped>
  #listItem {
    width: 100%;
    min-height: 140px;
    padding: 7px;
    margin: 0px 0px 8px 0px;
    border-radius: 10px;
    list-style: none;
    background-color: #1F1F1F;
    border: none!important;
    color: #E1E1E1;
  }
  #titleCard {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 328px;
  }
  .tags {
    margin: 8px 0px!important;
    min-height: 56px;
    .tag {
      margin: 2px!important;
    }
  }
  #iconsOptions {
    margin-left: 10px;
  }
  .modal-card {
    height: 90%;
    width: 90%;
    .modal-card-head {
      border: none!important;
      background-color: #121212!important;
      
    }
    .modal-card-title {
      color: #ffffff!important;
    }
    .modal-card-body {
      background-color: #1f1f1f;
    }
    .column {
      padding: 2px;
    }
  }
  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url('../assets/img/star-outline.svg');
    &.star-filled {
      background-image: url('../assets/img/star-fill.svg')!important;
    }
  }
  #funilBar {
    background-color:#121212;
    padding: 5px 2px;
    border-radius: 5px;
  }

  #titleCardStatsItem {
    font-weight: 600;
  }
  #listEventsItem {
    background-color: #121212;
    padding: 2px;
    font-size: 14px;
    text-align: center;
    
  }
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 769px) {
    #listItem {
      max-width: 376px;
      margin-right: 5px!important;
    }
    .modal-card {
      width: 70%!important;
    }
  }
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 1024px) {
    #listItem {
      max-width: 368px;
      margin-right: 5px!important;
    }
    .modal-card {
      width: 60%!important;
    }
  }
  /* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1216px) {
    .modal-card {
      width: 50%!important;
    }
  }

  /* XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1408px) {
    .modal-card {
      width: 40%!important;
    }
  }
</style>