<template>
  <div>
    <p v-if="messageHandler === true" class="notification is-success mb-5">{{message}}</p>
    <p v-if="messageHandler === false" class="notification is-danger mb-5">{{message}}</p>
    <form @submit.prevent="updateConfig" class="is-flex mb-2">
      <div class="field mr-2">
        <div class="control">
          <input type="text" class="input" :placeholder="data.name" v-model="$v.name.$model" disabled>
        </div>
      </div>
      <div class="field mr-2">
        <div class="control">
          <input type="text" class="input" size="100" :placeholder="data.value" v-model="$v.value.$model">
        </div>
      </div>
      <div class="buttons">
        <div class="control">
          <button class="button is-success">update</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import {
  required,
} from '../../node_modules/vuelidate/lib/validators';
export default {
  props: {
    data: Object
  },
  data(){
    return {
      name: '',
      value: '',
      messageHandler: '',
      message: '',
    }
  },
  validations: {
    name: {
      required
    },
    value: {
      required
    }
  },
  created(){
    this.name = this.data.title;
    this.value = this.data.value;
  },
  methods: {
    updateConfig(){
      this.$v.name.$touch();
      this.$v.value.$touch();
      if(this.$v.name.$invalid || this.$v.value.$invalid) return;
      const data = JSON.stringify({
        title: this.$v.name.$model,
        value: this.$v.value.$model,
      });
      this.$store.dispatch('updateConfig', data).then((res) => {
        if(res.status === false){
          this.messageHandler = false;
          this.message = res.message;
        }
        this.messageHandler = true;
        this.message = res.message;
        this.$v.name.$reset;
        this.$v.value.$reset;
      }); 
    }
  }
}
</script>

<style lang="scss" scoped>
  .input {
    background-color: #000000;
    color: #ffffff;
    border: none!important;
  }
  .input::placeholder {
    color: #ffffff;
  }
  .field {
    margin: 0;
  }
</style>