<template>
  <div id="mainDiv">
    <h3 class="is-size-3 mb-2">Set config</h3>
    <p v-if="messageHandler === true" class="notification is-success mb-5">{{message}}</p>
    <p v-if="messageHandler === false" class="notification is-danger mb-5">{{message}}</p>
    <form @submit.prevent="setConfig" class="is-flex">
      <div class="field mr-2">
        <div class="control">
          <input type="text" class="input" placeholder="name" v-model="$v.name.$model">
        </div>
      </div>
      <div class="field mr-2">
        <div class="control">
          <input type="text" class="input" size="100" placeholder="value" v-model="$v.value.$model">
        </div>
      </div>
      <div class="buttons">
        <div class="control">
          <button class="button is-success">set</button>
        </div>
      </div>
    </form>
    <hr>
  </div>
</template>

<script>
import {
  required,
} from '../../node_modules/vuelidate/lib/validators';
export default {
  data(){
    return {
      name: '',
      value: '',
      messageHandler: '',
      message: '',
    }
  },
  validations: {
    name: {
      required
    },
    value: {
      required
    }
  },
  methods: {
    setConfig(){
      this.$v.name.$touch();
      this.$v.value.$touch();
      if(this.$v.name.$invalid || this.$v.value.$invalid) return;
      const data = JSON.stringify({
        title: this.$v.name.$model,
        value: this.$v.value.$model,
      });
      this.$store.dispatch('setConfig', data).then((res) => {
        if(res.status === false){
          this.messageHandler = false;
          this.message = res.message;
        }
        this.messageHandler = true;
        this.message = res.message;
        this.$v.name.$reset;
        this.$v.value.$reset;
      }); 
    }
  }
}
</script>

<style lang="scss" scoped>
  .input {
    background-color: #000000;
    color: #ffffff;
    border: none!important;
  }
  .input::placeholder {
    color: #ffffff;
  }
  .field {
    margin: 0;
  }
</style>