<template>
    <span id="tagInfo" class="tag is-dark is-medium">Ao vivo: {{numberOfMatches}}</span>
</template>

<script>
  export default {
    computed: {
      numberOfMatches(){
        const matches = this.$store.state.matches;
        const numberOfMatches = matches.length;
        return numberOfMatches;
      }
    }
  }
</script>

<style>

</style>