<template>
  <span id="tagInfo" class="tag is-dark is-medium">Última atualização: {{timeUpdate}}</span>
</template>

<script>
  export default {
    data(){
      return {
        timeUpdate: 0,
        interval: ''
      }
    },
    computed: {
      match(){
        return this.$store.state.matches;
      }
    },
    watch: {
      match: function(){
        this.timeUpdate = 1;
        clearInterval(this.interval);
        this.interval = setInterval(() => {
          this.timeUpdate++;
        }, 1000);
      }
    }
  }
</script>