<template>
  <li id="item" class="mb-2">
    Email: {{user.email}}, 
    Plano: {{user.isPaid}}, 
    <span :class="dateEqual ? 'tag is-danger' : 'tag' ">
      Vencimento: {{user.nextPayment | formatData(user.nextPayment)}}
    </span>
    telegram: <a :href="telegram" target="_blank">Link</a>, 
    whatsapp: <a :href="whatsapp" target="_blank">Link</a>, 
  </li>
</template>

<script>
export default {
  props: {
    user: Object
  },
  computed: {
    dateEqual(){
      const dateNow = new Date;
      const formater = (dateNow) => {
        return new Date(dateNow).toLocaleDateString(
          'pt-br',
          {
            day: 'numeric',
            month: 'numeric',
            year: 'numeric',
          }
        ); 
      };
      const dateNowFormated = formater(dateNow);
      const nextPaymentFormated = formater(this.user.nextPayment);
      if(dateNowFormated === nextPaymentFormated) return true;
      return false;
    },
    telegram(){
      const telegram = `https://t.me/${this.user.telegram}`;
      return telegram;
    },
    whatsapp(){
      const whatsapp = `https://wa.me/${this.user.whatsapp}`;
      return whatsapp;
    }
  },
  filters: {
    formatData(str){
      return new Date(str).toLocaleDateString(
        'pt-br',
        {
          day: 'numeric',
          month: 'numeric',
          year: 'numeric',
          hour: 'numeric',
          minute:'numeric'
        }
      ); 
    }
  },
}
</script>

<style lang="scss" scoped>
  li {
    background-color: #1f1f1f,
  }
</style>