<template>
  <span v-if="(ht === true || ft === true)">
    <a @click="showModalTips(matchInfo.bet365_id)" id="iconsOptions">
      <img src="../assets/img/money-face.svg" width="18px">
    </a>
    <div :id="'modalTips' + matchInfo.bet365_id" class="modal">
      <div @click="removeModalStats(matchInfo.bet365_id)" class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Possíveis entradas</p>
          <button @click="removeModalTips(matchInfo.bet365_id)" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <span :class="ht ? '' : 'is-hidden' ">
            <div class="is-flex is-flex-direction-column">
              <span class="tag is-success is-medium"> 1º Tempo </span>
              <article class="message is-warning is-small">
                <div class="message-body">
                  <h3>Antes de realizar a entrada, leve em consideração os seguintes pontos:</h3>
                  <p> - O sucesso da estratégia está diretamente ligado a qualidade dos times, ou seja, o desempenho do time durante a partida.</p>
                  <p> - Nunca entre em jogos cuja diferença de gols seja maior que 1. (Exceção: Zebra)</p>
                  <p> - Ainda que haja uma entrada disponível, sempre análise o resumo da partida para verificar tendência de cantos, cartões vermelho e amarelo, pois estes pode influênciar nos acréscimos da partida</p>
                  <p> - Analise durante a partida se os parâmetros estão crescente, decrescente ou congelados.</p>
                  <p> - Lembre-se, a estratégia é estatística e não lei da física, logo, sua capacidade de ler gráficos e a partida em sí, influencia bastante no sucesso da aposta..</p>
                </div>
              </article>
              <div class="content card-tip mt-5 mb-5">
                <h2 class="has-text-white mb-0">Handicap Asiático (0-0)</h2>
                <hr>
                <h5 class="has-text-white">Entrada na linha:</h5>
                <span class="tag is-success is-medium">1º Tempo - Handicap Asiático (0-0)</span><br><br>
                <div class="columns p-3 is-flex is-align-items-start">
                  <div id="columnOddTitle" class="column">
                    <h5 class="has-text-white">Odd:</h5>
                    <span class="tag is-success is-medium">1.6+</span><br><br>
                  </div>
                  <div class="column is-four-fifths ml-3">
                    <h5 class="has-text-white">Entrada em -0.5</h5>
                    <h5 class="has-text-white">Analisar:</h5>
                    <p> - Balanceamento de ODD >= 6 (Calcular manualmente)</p>
                    <p> - Diferença de CG >= 10</p>
                    <p> - Rendimento >= 100</p>
                  </div>
                </div>
              </div>
              <div class="content card-tip mt-5 mb-5">
                <h2 class="has-text-white mb-0">Escanteio limite</h2>
                <hr>
                <h5 class="has-text-white">Entrada na linha:</h5>
                <span class="tag is-success is-medium">1º Tempo - Escanteios Asiáticos</span><br><br>
                <div class="columns p-3 is-flex is-align-items-start">
                  <div id="columnOddTitle" class="column">
                    <h5 class="has-text-white">Odd:</h5>
                    <span class="tag is-success is-medium">1.6+</span><br><br>
                  </div>
                  <div class="column is-four-fifths ml-3">
                    <h5 class="has-text-white">Exemplo:</h5>
                    <p>Se escanteios for igual a 10, entrar em <strong>MAIS 10.5</strong></p>
                    <p><strong>OU MAIS 11</strong>  - ODD: 1.80/2.00</p>
                  </div>
                </div>
              </div>
              <div class="content card-tip mt-5 mb-5">
                <h2 class="has-text-white mb-0">Escanteio exatamente</h2>
                <hr>
                <h5 class="has-text-white">Entrada na linha:</h5>
                <span class="tag is-success is-medium">1º Tempo - Escanteios</span><br><br>
                <div class="columns p-3 is-flex is-align-items-start">
                  <div id="columnOddTitle" class="column">
                    <h5 class="has-text-white">Odd:</h5>
                    <span class="tag is-success is-medium">1.65+</span><br><br>
                  </div>
                  <div class="column is-four-fifths ml-3">
                    <h5 class="has-text-white">Exemplo:</h5>
                    <p>Se escanteios for igual a 10, entrar em <strong>EXATAMENTE 11</strong></p>
                  </div>
                </div>
              </div>
              <div class="content card-tip mt-5 mb-5">
                <h2 class="has-text-white mb-0">Zoião canto</h2>
                <hr>
                <h5 class="has-text-white">Entrada na linha:</h5>
                <span class="tag is-success is-medium">1º Tempo - Escanteios</span><br><br>
                <div class="columns p-3 is-flex is-align-items-start">
                  <div id="columnOddTitle" class="column">
                    <h5 class="has-text-white">Odd:</h5>
                    <span class="tag is-success is-medium">3.00+</span><br><br>
                  </div>
                  <div class="column is-four-fifths ml-3">
                    <h5 class="has-text-white">Exemplo:</h5>
                    <p>Se escanteios for igual a 10, entrar em  <strong>MAIS DE 11</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </span>
          <span :class="ft ? '' : 'is-hidden' ">
            <div class="is-flex is-flex-direction-column">
              <span class="tag is-success is-medium"> 2º Tempo </span>
              <article class="message is-warning is-small">
                <div class="message-body">
                  <h3>Antes de realizar a entrada, leve em consideração os seguintes pontos:</h3>
                  <p> - O sucesso da estratégia está diretamente ligado a qualidade dos times, ou seja, o desempenho do time durante a partida</p>
                  <p> - Nunca entre em jogos cuja diferença de gols seja maior que 1. (Exceção: Zebra)</p>
                  <p> - Ainda que haja uma entrada disponível, sempre análise o resumo da partida para verificar tendência de cantos, cartões vermelho e amarelo, pois estes pode influênciar nos acréscimos da partida</p>
                  <p> - Analise durante a partida se os parâmetros estão crescente, decrescente ou congelados.</p>
                  <p> - Lembre-se, a estratégia é estatística e não lei da física, logo, sua capacidade de ler gráficos e a partida em sí, influencia bastante no sucesso da aposta..</p>
                </div>
              </article>
              <div class="content card-tip mt-5 mb-5">
                <h2 class="has-text-white mb-0">Handicap Asiático (0-0)</h2>
                <hr>
                <h5 class="has-text-white">Entrada na linha:</h5>
                <span class="tag is-success is-medium">2º Tempo - Handicap Asiático (0-0)</span><br><br>
                <div class="columns p-3 is-flex is-align-items-start">
                  <div id="columnOddTitle" class="column">
                    <h5 class="has-text-white">Odd:</h5>
                    <span class="tag is-success is-medium">1.6+</span><br><br>
                  </div>
                  <div class="column is-four-fifths ml-3">
                    <h5 class="has-text-white">Entrada em -0.5</h5>
                    <h5 class="has-text-white">Analisar:</h5>
                    <p> - Balanceamento de ODD >= 6 (Calcular manualmente)</p>
                    <p> - Diferença de CG >= 10</p>
                    <p> - Rendimento >= 100</p>
                  </div>
                </div>
              </div>
              <div class="content card-tip mt-5 mb-5">
                <h2 class="has-text-white mb-0">Escanteio limite</h2>
                <hr>
                <h5 class="has-text-white">Entrada na linha:</h5>
                <span class="tag is-success is-medium">2º Tempo - Escanteios Asiáticos</span><br><br>
                <div class="columns p-3 is-flex is-align-items-start">
                  <div id="columnOddTitle" class="column">
                    <h5 class="has-text-white">Odd:</h5>
                    <span class="tag is-success is-medium">1.6+</span><br><br>
                  </div>
                  <div class="column is-four-fifths ml-3">
                    <h5 class="has-text-white">Exemplo:</h5>
                    <p>Se escanteios for igual a 10, entrar em <strong>MAIS 10.5</strong></p>
                    <p><strong>OU MAIS 11</strong>  - ODD: 1.80/2.00</p>
                  </div>
                </div>
              </div>
              <div class="content card-tip mt-5 mb-5">
                <h2 class="has-text-white mb-0">Escanteio exatamente</h2>
                <hr>
                <h5 class="has-text-white">Entrada na linha:</h5>
                <span class="tag is-success is-medium">2º Tempo - Escanteios</span><br><br>
                <div class="columns p-3 is-flex is-align-items-start">
                  <div id="columnOddTitle" class="column">
                    <h5 class="has-text-white">Odd:</h5>
                    <span class="tag is-success is-medium">2.75+</span><br><br>
                  </div>
                  <div class="column is-four-fifths ml-3">
                    <h5 class="has-text-white">Exemplo:</h5>
                    <p>Se escanteios for igual a 10, entrar em <strong>EXATAMENTE 11</strong></p>
                  </div>
                </div>
              </div>
              <div class="content card-tip mt-5 mb-5">
                <h2 class="has-text-white mb-0">Zoião canto</h2>
                <hr>
                <h5 class="has-text-white">Entrada na linha:</h5>
                <span class="tag is-success is-medium">Encontro - Escanteios</span><br><br>
                <div class="columns p-3 is-flex is-align-items-start">
                  <div id="columnOddTitle" class="column">
                    <h5 class="has-text-white">Odd:</h5>
                    <span class="tag is-success is-medium">3.00+</span><br><br>
                  </div>
                  <div class="column is-four-fifths ml-3">
                    <h5 class="has-text-white">Exemplo:</h5>
                    <p>Se escanteios for igual a 10, entrar em  <strong>MAIS DE 11</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </span>
        </section>
      </div>
    </div>
  </span>
</template>

<script>
export default {
  props: {
    matchInfo: Object,
  },
  methods: {
    showModalTips(id){
      const idModal = 'modalTips' + id;
      const modal = document.getElementById(idModal);
      modal.classList.toggle('is-active');
    },
    removeModalTips(id){
      const idModal = 'modalTips' + id;
      const modal = document.getElementById(idModal);
      modal.classList.remove('is-active');
    },
  },
  computed: {
    ht: function(){
      const diffGoal = this.matchInfo.goals_home - this.matchInfo.goals_away;
      if(
        (diffGoal >= -1 && diffGoal <= 1) &&
        (this.matchInfo.timer.tm >= 22 && this.matchInfo.timer.tm < 45) && 
        ((this.matchInfo.appm_away >= 1 && this.matchInfo.cg_away >= 9) ||
        (this.matchInfo.appm_home >= 1 && this.matchInfo.cg_home >= 9))
      ) return true
      return false;
    },
    ft: function(){
      const diffGoal = this.matchInfo.goals_home - this.matchInfo.goals_away;
      if(
        (diffGoal >= -1 && diffGoal <= 1) &&
        (this.matchInfo.timer.tm >= 70 && this.matchInfo.timer.tm < 120) && 
        ((this.matchInfo.appm_away >= 1 && this.matchInfo.cg_away >= 15) ||
        (this.matchInfo.appm_home >= 1 && this.matchInfo.cg_home >= 15))
      ) return true
      return false
    },
  }
}
</script>

<style lang="scss" scoped>
  .modal-card {
    height: 90%;
    width: 90%;
    .modal-card-head {
      border: none!important;
      background-color: #121212!important;
    }
    .modal-card-title {
      color: #ffffff!important;
    }
    .modal-card-body {
      background-color: #1f1f1f; 
      padding: 10px;
    }
    .column {
      padding: 2px;
    }
  }
  .card-tip {
    background-color: #121212;
    padding: 10px;
    border-radius: 10px;
  }
  #columnOddTitle {
    flex-grow: 0!important;
  }
  hr {
    margin-top: 10px;
    background-color: #3b3b3b
  }
  strong {
    color: #ffffff;
  }
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 769px) {
    #listItem {
      max-width: 368px;
      margin-right: 5px!important;
    }
    .modal-card {
      width: 70%!important;
    }
  }
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 1024px) {
    #listItem {
      max-width: 368px;
      margin-right: 5px!important;
    }
    .modal-card {
      width: 60%!important;
    }
  }
  /* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1216px) {
    .modal-card {
      width: 50%!important;
    }
  }

  /* XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1408px) {
    .modal-card {
      width: 40%!important;
    }
  }
</style>