<template>
  <div id="mainContent">
    <Admin>
      <Useritem 
        v-for="(user, index) in users" 
        :key="user.email" 
        :data="user"
        :index="index"
        :slot="user.isPaid === 'standard' ? 'paid' : 'unpaid'"
      />
    </Admin>
  </div>
</template>

<script>
import Admin from '../views/Users';
import Useritem from '../components/Useritem_admin.vue'
import { doc, onSnapshot } from "firebase/firestore";
export default {
  components: {
    Admin,
    Useritem,
  },
  computed: {
    users(){
      return this.$store.state.usersList
    } 
  },
  created(){
    this.$store.dispatch('getUsersList', { collection: 'users' });
  }

}
</script>

<style>
  #mainContent {
    width: 100%;
    min-height: 100vh;
  }
</style>