<template>
    <tr>
      <td>{{data.email}}</td>
      <td>{{data.isActive}}</td>
      <td>
        <div v-if="data.isPaid === 'standard'" class="select is-success is-small">
          <select :id="'select' + data.email">
            <option selected>standard</option>
            <option value="trial">trial</option>
            <option value="not">not</option>
          </select>
        </div>
        <div v-else-if="data.isPaid === 'trial'" class="select is-warning is-small">
          <select :id="'select' + data.email">
            <option selected>trial</option>
            <option value="standard">standard</option>
            <option value="not">not</option>
          </select>
        </div>
        <div v-else class="select is-danger is-small">
          <select :id="'select' + data.email">
            <option class="is-danger" selected>not</option>
            <option value="trial">trial</option>
            <option value="standard">standard</option>
          </select>
        </div>
      </td>
      <td>
        <span @click="showModalStats(data.email)" class="tag is-info">Info</span>
        <div :id="data.email" class="modal">
          <div @click="removeModalStats(data.email)" class="modal-background"></div>
          <div class="modal-card ">
            <header class="modal-card-head">
              <p class="modal-card-title">Informações</p>
              <button @click="removeModalStats(data.email)" class="delete" aria-label="close"></button>
            </header>
            <form @submit.prevent="updateProfile">
              <section class="modal-card-body">
                <fieldset disabled class="is-flex is-justify-content-space-between">
                  <div id="fieldForm" class="field">
                    <label class="label">Primeiro nome</label>
                    <div class="control">
                      <input class="input" type="text" :placeholder="data.firstName">
                    </div>
                  </div>
                  <div id="fieldForm" class="field ml-2">
                    <label class="label">Segundo nome</label>
                    <div class="control">
                      <input class="input" type="text" :placeholder="data.secondName">
                    </div>
                  </div>
                </fieldset>
                <fieldset disabled class="is-flex">
                  <div id="fieldForm" class="field">
                    <label class="label">Email</label>
                    <div class="control">
                      <input class="input" type="email" :placeholder="data.email">
                    </div>
                  </div>
                </fieldset>
                <div class="is-flex is-justify-content-space-between">
                  <div id="fieldForm" class="field">
                    <label class="label">Whatsapp</label>
                    <div class="control">
                      <input v-model="$v.whatsappForm.$model" type="text" class="input">
                      <div class="has-text-danger is-flex is-justify-content-start" v-if="!$v.whatsappForm.required && $v.whatsappForm.$dirty">Digite seu número de Whatsapp</div>
                      <div class="has-text-danger is-flex is-justify-content-start" v-if="!$v.whatsappForm.numeric && $v.whatsappForm.$dirty">Digite apenas os números.</div>
                      <div class="has-text-danger is-flex is-justify-content-start" v-if="(!$v.whatsappForm.minLength || !$v.whatsappForm.maxLength) && $v.whatsappForm.$dirty">O numero deve conter 11 caracteres. [DDD + 9 + 9999-9999]</div>
                    </div>
                  </div>
                  <div id="fieldForm" class="field ml-2">
                    <label class="label">Telegram</label>
                    <div class="control">
                      <input v-model="$v.telegramForm.$model" type="text" class="input">
                      <div class="has-text-danger is-flex is-justify-content-start" v-if="!$v.telegramForm.required && $v.telegramForm.$dirty">Digite seu telegram</div>
                    </div>
                  </div>
                </div>
                <fieldset disabled class="is-flex is-justify-content-space-between">
                    <div id="fieldForm" class="field">
                      <label class="label">Termos</label>
                      <div class="control">
                        <input class="input disabled" type="text" :placeholder="data.terms">
                      </div>
                    </div>
                    <div id="fieldForm" class="field ml-2">
                      <label class="label">Vencimento da assinatura</label>
                      <div class="control">
                        <input class="input" type="text" :placeholder="data.nextPayment | formatData(data.nextPayment)">
                      </div>
                    </div>
                    <div id="fieldForm" class="field ml-2">
                      <label class="label">Já foi Trial</label>
                      <div class="control">
                        <input class="input" type="text" :placeholder="data.isAlreadyTrial">
                      </div>
                    </div>
                </fieldset>
                <div class="has-text-success is-flex is-justify-content-center"  v-if="updateProfileMessageHandler === true">{{updateProfileMessage}}</div>
                <div class="has-text-danger is-flex is-justify-content-center"  v-if="updateProfileMessageHandler === false ">{{updateProfileMessage}}</div>
                <div class="control is-flex is-justify-content-center">
                  <button type="submit" class="button is-success">Atualizar</button>
                </div>
              </section>
            </form>
          </div>
        </div>
      </td>
      <td>
        <span @click="changeStatus" class="tag is-success">Atualizar</span>
      </td>
    </tr>
</template>

<script>
import {
  required, minLength, maxLength, numeric,
} from '../../node_modules/vuelidate/lib/validators';
export default {
  props: {
    data: Object,
    index: Number,
  },
  data() {
    return {
      telegramForm: '',
      whatsappForm: '',
      updateProfileMessageHandler: false,
      updateProfileMessage: '',
    }
  },
  beforeMount(){
    this.telegramForm = this.data.telegram;
    this.whatsappForm = this.data.whatsapp;
  },
  validations: {
    whatsappForm: {
      required,
      numeric,
      minLength: minLength(11),
      maxLength: maxLength(11),
    },
    telegramForm: {
      required,
      maxLength: maxLength(35),
    },
  },
  methods: {
    updateProfile: async function(){
      this.$v.telegramForm.$touch();
      this.$v.whatsappForm.$touch();
      if(
          this.$v.telegramForm.$invalid || 
          this.$v.whatsappForm.$invalid
        ) return;

      if(this.$v.telegramForm.$model === this.data.telegram && this.$v.whatsappForm.$model === this.data.whatsapp) return;
      const data = { 
        telegram: this.$v.telegramForm.$model, 
        whatsapp: this.$v.whatsappForm.$model 
      };
      this.$store.dispatch('updateProfile', data).then((res) => {
        if(res == false){
          this.updateProfileMessageHandler = false;
          this.updateProfileMessage = 'As informações não puderam ser atualizadas. Tente mais tarde!';
        } else {
          this.updateProfileMessageHandler = true;
          this.updateProfileMessage = 'As informações foram atualizadas com sucesso!';
          this.$store.dispatch('getUsersList', { collection: 'users' });
        }
      });
    },
    changeStatus(){
      const valueOption = document.getElementById(`select${this.data.email}`).value;
      const status = this.data.isPaid;
      if(valueOption === status.toString()) return;
      const data = JSON.stringify({ email: this.data.email, isPaid: valueOption, isAlreadyTrial: 'true' });
      this.$store.dispatch('changePaymentStatus', data).then((res) => {
        if(res === false) return alert(`Falha ao alterar o status da conta: ${this.data.email}`);
        this.$store.dispatch('getUsersList', { collection: 'users' });
        return alert(`Conta: ${this.data.email} alterada com sucesso!`);
      });
    },
    showModalStats(id){
      const modal = document.getElementById(id);
      modal.classList.toggle('is-active');
    },
    removeModalStats(id){
      const modal = document.getElementById(id);
      modal.classList.remove('is-active');
    },
  },
  filters: {
    formatData(str){
      return new Date(str).toLocaleDateString(
        'pt-br',
        {
          day: 'numeric',
          month: 'numeric',
          year: 'numeric',
          hour: 'numeric',
          minute:'numeric'
        }
      ); 
    }
  },
}
</script>

<style lang="scss" scoped>
  .card-content {
    padding: 0.5rem;
  }
  .tag {
    margin-left: 2px;
  }
  .tag:hover {
    cursor: pointer;
  }
  .modal-card {
    height: 90%;
    width: 90%;
    .modal-card-head {
      border: none!important;
      background-color: #121212!important;
      
    }
    .modal-card-title {
      color: #ffffff!important;
    }
    .modal-card-body {
      padding: 7px;
      background-color: #1f1f1f;
    }
    .column {
      padding: 2px;
    }
  }
  #userFields {
    margin-right: 0.5rem;
  }
  #fieldForm {
    width: 100%;
    margin-bottom: 12px;
  }
  .input {
    background-color: #000000;
    color: #ffffff;
    border: none!important;
  }
  .input::placeholder {
    color: #ffffff;
  }
  .label { 
    color: #ffffff;
  }
  fieldset[disabled] .input {
    background-color: #000000;
  }
  td {
    color: #ffffff;
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 769px) {
    .modal-card {
      width: 70%!important;
    }
  }
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 1024px) {
    .modal-card {
      width: 60%!important;
    }
  }
  /* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1216px) {
    .modal-card {
      width: 50%!important;
    }
  }

  /* XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1408px) {
    .modal-card {
      width: 40%!important;
    }
  }
</style>